
@mixin multi-breakpoint($property, $breakpoints, $ratio: 1.0) {
    @each $breakpoint, $value in $breakpoints {
        @include breakpoint($breakpoint) {
            #{$property}: $value * $ratio;
        }
    }
}

@mixin hocus {
    &:hover, &:focus {
        @content;
    }
}

@mixin lights-off {
    html.lights-off & {
        @content;
    }
}

@mixin no-js {
    html.no-js & {
        @content;
    }
}

@mixin no-web-storage {
    html.no-web-storage & {
        @content;
    }
}

@mixin adaptive-image-width($percentage: 100%) {
    width: $percentage;
    height: auto;
}

@mixin adaptive-image-height($percentage: 100%) {
    width: auto;
    height: $percentage;
}

@mixin responsive-image-width($percentage: 100%) {
    max-width: $percentage;
    height: auto;
}

@mixin responsive-image-height($percentage: 100%) {
    width: auto;
    max-height: $percentage;
}

@mixin anchor-with-icon($element: after, $font-size: 1em, $spacing: 0.25em) {
    position: relative;

    &:#{$element} {
        display: inline-block;

        vertical-align: middle;
        text-decoration: none;

        @if $element == before {
            margin-right: $spacing;
        }
        @if $element == after {
            margin-left: $spacing;
        }

        font-size: $font-size;
    }
}
