
// Vertical margin sizes:
$vertical-space: (
    small: 1rem,
    medium: 2rem,
    large : 3rem,
);


//// Foundation framework settings

// 1. Global
// ---------
$global-width: rem-calc(1280px);
$body-font-family: 'Open Sans', Roboto, Arial, sans-serif;


// 2. Breakpoints
// --------------

$breakpoints: (
    small   : 0,
    medium  : 640px,  //  40 em
    large   : 960px,  //  60 em
    xlarge  : 1280px, //  80 em
    xxlarge : 1600px, // 100 em
);


// 4. Base Typography
// ------------------

$header-font-family: $body-font-family;
$header-font-weight: 700;
$header-lineheight: 1.25;
$header-margin-bottom: 1rem;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 36),
    'h2': ('font-size': 30),
    'h3': ('font-size': 28),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;
$hr-border: 1px solid $light-gray;
$hr-margin: map-get($vertical-space, large) auto;


// 19. Forms
// ---------
$form-label-color: inherit;


// 28. Responsive Embed
// --------------------

$responsive-embed-margin-bottom: 0;
$responsive-embed-ratios: (
  default: 4 by 3,
  widescreen: 16 by 9,
  vertical: 9 by 16,
);


// 32. Table
// ---------

$table-background: transparent;
$table-border: 1px solid $primary-color;
$table-padding: rem-calc(8px 12px);
$table-is-striped: false;
$table-head-background: $primary-color;
$table-head-font-color: $white;
$table-foot-background: $light-gray;
$table-foot-font-color: $black;


// 56. Xy Grid
// -----------

$grid-container: $global-width;
$grid-margin-gutters: (
    small: 16px,
    medium: 24px,
    xlarge: 32px,
    xxlarge: 40px,
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;



//// Site settings

$offset               : 0.5rem;
$text-shadow          : 1px 1px 1px rgba(32, 32, 32, 1);
$transition-duration  : 0.4s;


// Photoswipe
$pswp__assets-path: '../vendor/photoswipe/default-skin/';


// Gutter for media grid
$reduced-grid-margin-gutters: (
    small: map-get($grid-margin-gutters, small) * 0.5,
    medium: map-get($grid-margin-gutters, medium) * 0.5,
    xlarge: map-get($grid-margin-gutters, xlarge) * 0.5,
    xxlarge: map-get($grid-margin-gutters, xxlarge) * 0.5,
);
