
body.attachment {
    div.image-header {
        figcaption {
            @extend .show-for-sr;
        }

        header {
            h1 {
                font-size: 1rem;
                font-weight: normal;
                @include breakpoint(large) {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

body.attachment-image {
    // TODO: Any chance to animate the zoom effect? The object-fit property is not supported by CSS23 transforms...

    /* Zoomed in state (default) */
    .image-header {
        img { object-fit: cover; }
        html.js & { cursor: zoom-out; }
    }

    /* Zoomed-out state: contain image */
    html.zoomed-out & .image-header {
        img { object-fit: contain; }
    }
    html.zoomed-out.js & .image-header {
        cursor: zoom-in;
    }

    /* Hide primary header, if we are in "zoomed out" mode */
    html.zoomed-out & header.primary {
        display: none;
    }
}

body.attachment-video {
    div.image-header {
        max-width: $grid-row-width;
        margin-left: auto; margin-right: auto;

        header {
            bottom: 48px;
            h1 {
                font-size: 1.5rem;
                @include breakpoint(large) {
                    font-size: 2rem;
                }
            }
        }
    }
}

nav.adjacent {
    position: absolute;

    left: 0; top: 50%; right: 0;
    margin-top: -0.5em;

    font-size: 2rem;
    @include breakpoint(medium) {
        font-size: 3rem;
    }
    line-height: 1;

    a {
        position: absolute;

        width: 1em;
        height: 1em;

        color: $white;
        filter: drop-shadow($text-shadow);
    }

    // Left/right offsets must be kept in sync with menu toggle and light-off toggle icons.
    a[rel="prev"] {
        left: $offset;
    }
    a[rel="next"] {
        right: $offset;
    }
}


nav.actions {
    position: absolute;
    left: 0; top: 1rem; right: 0;

    @include no-js {
        display: none;
    }

    font-size: 2rem;
    line-height: 1;

    button {
        position: absolute;
        right: $offset;

        color: $white;
        filter: drop-shadow($text-shadow);
    }
}

button.zoom-in {
    display: none;
    html.zoomed-out & {
        display: inline-block;
    }
}
button.zoom-out {
    display: inline-block;
    html.zoomed-out & {
        display: none;
    }
}

ul.media-meta {
    margin: 0;
    @extend .no-bullet;

    li {
        display: inline-block;
        margin: 0 1em 1em 0;
    }

    span.label {
        line-height: 1;
    }

    a {
        text-decoration: none;
    }
}
