
.comments {
    margin-top: 2em;

    ol.comment-list, ol.children, li.comment {
        margin-top: 2em;
    }
}

.comment-list {
    &, ol.children {
        list-style-type: lower-greek;
    }
}

.comment-metadata, .reply {
    font-size: smaller;
}

.comment-metadata a {
    color: map-get($foundation-palette, secondary);

    @include anchor-with-icon(before);

    &:before {
        content: '#';
        line-height: 1;
    }
}

.comment-content {
    margin: 0.5em 0;
    p, ol, ul {
        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }
}

.comment-respond {
    .comment-list + &, .comments-pager + & {
        margin-top: 2em;
    }
}

.comment-notes {
    font-size: $form-label-font-size;
}


/** Math captcha */
p.comment-form-captcha {
    @include clearfix;

    input {
        float: left;
        width: 4em; /* enough space for 3 digits */
    }

    span.do-your-math {
        float: left;
        margin-left: 0.5em;
        padding: $form-spacing * 0.5 0;

        font-size: $input-font-size;
        letter-spacing: 0.125em;
    }
}
