
/**
 * Styles for content edited via TinyMCE:
 * 1) By default separate direct childs by medium space.
 * 2) Apply small space only between headers and following element.
 * 3) Apply small space only between paragraph and list elements.
 * 4) Reset bottom margin of any <hr> elements.
 */
.the-content {
    /* (1) */
    > * + * {
        margin-top: map-get($vertical-space, medium);
    }
    /* (2) */
    > * + h1, > * + h2, > * + h3, > * + h4 {
        margin-top: map-get($vertical-space, large);
    }
    /* (3) */
    > p + p, > p + ul, > p + ol {
        margin-top: map-get($vertical-space, small);
    }
    /* (4) */
    hr {
        margin-bottom: 0;
    }
}
