
footer.primary {
    @extend .container;

    margin-top: map-get($vertical-space, large);
    margin-bottom: map-get($vertical-space, large);

    font-size: 0.75rem;
    text-align: center;

    a {
        text-decoration: none;

        color: map-get($foundation-palette, secondary);
        &.repo {
            color: map-get($foundation-palette, primary);
        }
    }
}
