
header.primary {
    line-height: 1;
    text-align: center;

    height: 6rem;

    body.image-header-on & {
        position: absolute;
        left: 0; top: 0; right: 0;
        height: 0;
    }
}


/** Hide the checkbox */
.nav-trigger {
    position: absolute;
    left: -6666px;
    clip: rect(0, 0, 0, 0);
}

.nav-trigger-icon, .mod-switcher {
    position: absolute;
    z-index: 3; // has to be larger than .primary-navigation z-index
    top: 1rem;

    cursor: pointer;

    font-size: 2rem;

    color: $primary-color;
    body.image-header-on & {
        color: $white;
        filter: drop-shadow($text-shadow);
    }

    .nav-trigger:checked + div > & {
        color: $white;
        filter: none;
    }
}

.nav-trigger-icon {
    left: $offset;

    line-height: 1; // reset Foundation form styles

    .icon-open {
        display: inline-block;
        .nav-trigger:checked + div > & {
            display: none;
        }
    }
    .icon-close {
        display: none;
        .nav-trigger:checked + div > & {
            display: inline-block;
        }
    }
}

.mod-switcher {
    right: $offset;

    body.attachment & {
        display: none !important;
    }

    /* Is useless without JavaScript active... */
    @include no-js {
        display: none !important;
    }
    /* ...or if Web Storage is not supported by browser. */
    @include no-web-storage {
        display: none !important;
    }
}


.mod-switcher--lights-on {
    display: none;
    @include lights-off {
        display: inline-block;
    }
}
.mod-switcher--lights-off {
    display: inline-block;
    @include lights-off {
        display: none;
    }
}


/**
 * Primary navigation
 */
nav.primary {

    position: absolute;
    z-index: 2;
    left: 0; top: 0; right: 0;

    text-align: left;

    transition: transform $transition-duration ease;

    min-height: 100vh;
    padding: 6rem 0 2rem;

    background: rgba($primary-color, 0.95);

    /**
     * This is the actual trick that opens the navigation.
     */
    transform: translateY(-100%);
    .nav-trigger:checked ~ & {
        transform: translateY(0);
    }

    font-size: 1.25rem;

    a {
        color: $white;
    }

    ul {
        li {
            padding: 0.25em 0;
        }
    }

    ul.languages {
        margin-top: 2em;
    }

}


/**
 * Contextual menu
 */
nav.contextual {

    @include horizontal-center;
    top: 1rem;
    z-index: 3; // has to be larger than .primary-navigation z-index

    body.image-header-on & {
        &, a { color: $white; }
        filter: drop-shadow($text-shadow);
        text-shadow: $text-shadow;
    }

    .nav-trigger:checked ~ & {
        &, a { color: $white; }
        filter: none;
        text-shadow: none;
    }

    font-size: 1.25rem;
    white-space: nowrap;

    ul {
        display: flex;
        justify-content: center;

        li + li {
            &:before {
                margin: 0 0.25em;
            }
        }
        &.flat {
            li + li {
                &:before {
                    content: '|';
                }
            }
        }
        &.hierarchical {
            li + li {
                &:before {
                    content: '»';
                }
            }
        }
    }

    li {
        display: block;
        @include breakpoint(small only) {
            display: none;
            &.home { display: block; }
        }
    }

    li.home a {
        font-size: 1.5em;

        // Link content alternates between camera and camera-outline SVGs.
        .icon-camera {
            display: block;
            .nav-trigger:checked ~ & {
                display: none;
            }
        }
        .icon-camera-outline {
            display: none;
            .nav-trigger:checked ~ & {
                display: block;
            }
        }
    }
}
