
/**
 * Image header container displays image that covers entire browser viewport.
 */
.image-header {
    position: relative;
    overflow: hidden;
    margin: 0; // !

    /* Even with lights on, keep the background black */
    background: $black;
    @include lights-off {
        background: transparent;
    }

    a {
        display: block;
    }

    img {
        display: block;
        width: 100vw;
        height: 100vh; // Default height...

        object-fit: cover;
    }

    // ...can be overriden by a specially named class applied to image-header element.
    // The class name is parsed in JS and image header height is fixed via inline styles in order to avoid image
    // header resizing on mobile devices when url bar is hidden/shown on scroll...
    &.vmin-65 {
        img { height: 65vmin; }
    }
    &.vmin-75 {
        img { height: 75vmin; }
    }

    header {
        position: absolute;
        left: 0; bottom: 0; right: 0;

        padding: 0.5em 2em;

        color: $white;
        text-shadow: $text-shadow;
        text-align: center;
    }
}
