
main {

    > article, > nav, > header, > section {
        @extend .container;
    }

    /* Vertical space for main content parts... */
    > * {
        margin-top: map-get($vertical-space, large);
        &:first-child {
            margin-top: 0;
        }
    }
    /* ...with some exceptions: */
    > nav + header, > nav + article {
        margin-top: 0;
    }

    /* Entire content of 404 page is centered */
    body.error404 & {
        text-align: center;
    }

    a.external-link {
        color: #CC0000;
        @include hocus { color: #990000; }
    }

    a.external-link, a.photoswiped-link {
        .icon {
            font-size: 0.75em;
            margin-left: 0.25em;
            margin-right: 0.25em;
        }
    }
}

nav.breadcrumb {
    text-align: center;

    ul {
        li {
            display: inline;

            &:after {
                content: "»";
                margin: 0 0.25em;
            }
        }
    }
}

nav.pagination {
    text-align: center;
    .page-numbers {
        display: inline-block;
        padding: 0 0.25em;
    }
}
