
.media-grid {
    @include xy-grid;
    @include xy-gutters($reduced-grid-margin-gutters, $negative: true);

    @include xy-grid-layout(1, 'div.grid-item', $gutters: map-get($reduced-grid-margin-gutters, small), $gutter-position: top bottom left right);
    @include breakpoint(medium) {
        @include xy-grid-layout(2, 'div.grid-item', $gutters: map-get($reduced-grid-margin-gutters, medium), $gutter-position: top bottom left right);
    }
    @include breakpoint(xlarge) {
        @include xy-grid-layout(3, 'div.grid-item', $gutters: map-get($reduced-grid-margin-gutters, xlarge), $gutter-position: top bottom left right);
    }
}

// Media grid item
.grid-item {
    figure {
        position: relative;
    }

    a, img {
        display: block;
    }

    a.info-link {
        width: 1.2em; height: 1.5em;
        padding: 0.25em 0.1em;

        position: absolute;
        right: 0; top: 0;
        z-index: 1;

        color: $white;
        font-size: 2.5rem;
        line-height: 1;
        text-align: center;
        text-decoration: none;

        opacity: 0.4;
        @include hocus {
            opacity: 0.9;
        }
    }

    img {
        @include adaptive-image-width();
    }

    figcaption {
        @extend .show-for-sr;
    }

    button.video-playback {
        @include absolute-center;
        font-size: 5em;

        text-shadow: 3px 1px 6px $dark-gray;
    }
}

// Styling for Colcade grid
.grid-column {
    display: none;

    width: 100%;
    &.grid-column--1 {
        display: block;
    }

    @include breakpoint(medium) {
        width: 50%;
        &.grid-column--2 {
            display: block;
        }
    }
    @include breakpoint(xlarge) {
        width: 33.33%;
        &.grid-column--3 {
            display: block;
        }
    }

    .grid-item {
        @include multi-breakpoint(padding, $reduced-grid-margin-gutters, 0.5);
    }
}
