
nav.subgalleries {
    ul, li {
        display: inline;
    }

    ul li:not(:first-child):before {
        content: ', ';
    }
}

nav.prev-up-next-gallery {
    text-align: center;

    a {
        @extend .button;
        @extend .primary;
    }

    .icon:first-child {
        margin-right: 0.5em;
    }
    .icon:last-child {
        margin-left: 0.5em;
    }
}
