
@import "photoswipe/src/css/main.scss";
@import "photoswipe/src/css/default-skin/default-skin.scss";

.pswp__caption a {
    color: inherit;
    text-decoration: none;
    .label {
        line-height: 1;
    }
}
