
.entry-summary {
    margin-top: map-get($vertical-space, small);
}

/**
 * Single post styles: image header is optional.
 */
body.single-post {

    &.image-header-on {
        article {
            margin-top: 1em;
        }
    }

    .entry-meta {
        text-align: center;
    }

    .entry-content {
        hr {
            width: 50%;
        }
    }
}

article.hentry {
    @include clearfix;
}

time.updated {
    color: $dark-gray;
    font-size: smaller;
}

a.thumbnail, a.no-thumbnail {
    float: left;
    width: 112px; height: 112px;
    margin: 0 1em 1em 0;

    @include breakpoint(medium) {
        width: 160px; height: 160px;
        margin: 0;
        ~ * {
            margin-left: rem-calc(160px + 32px);
        }
    }
}

a.thumbnail {
    img {
        border-radius: 25%;
    }
}

a.no-thumbnail {
    margin-bottom: 0;
    svg {
        width: 100%; height: 100%;
        path {
            transition: fill $transition-duration ease;
            fill: $medium-gray;
            @include lights-off {
                fill: $dark-gray;
            }
        }
    }
}
