
.search-form {

    margin: 0 auto;
    margin-bottom: $paragraph-margin-bottom;

    text-align: center;

    input {
        margin-bottom: 0;
    }

    label {
        display: inline-block;
    }

    input[type="search"] {
        width: 180px;

        @include breakpoint(medium) {
            width: 360px;
        }
    }

    input[type="submit"] {
        display: inline-block;
    }

}
