
/* Container acts as a single column row */
.container {
    // @include grid-container() adds "margin: 0 auto;"
    @include xy-gutters($gutters: $grid-container-padding, $gutter-type: padding);
    max-width: $grid-container;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

header.primary {
    position: relative;
    z-index: 3;
}
main {
    position: relative;
    z-index: 1;
}
footer.primary {
    position: relative;
    z-index: 2;
}