
// Open Sans regular
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

// Open Sans italic
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}

// Open Sans bold
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-bold-webfont') format('woff2');
    font-weight: bold;
    font-style: normal;
}
