
body {
    @include breakpoint(large) {
        font-size: 1.125em;
    }
}

/* Alternative (night) mood */
body, input, textarea {
    transition: all 2*$transition-duration ease;
}

html.lights-off {
    body,
    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea {
        background: $black;
        color: $white;
    }
    hr {
        border-color: map-get($foundation-palette, secondary);
    }
}


// Make it clear that buttons can be clicked.
button {
    cursor: pointer;
}


// No underlining for button-like anchors and linked headings
a {
    &.button, h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
        text-decoration: none;
    }
}


figure { margin: 0; }


ul, ul.fancy {
    &, ul {
        margin-left: 1.5em;
        list-style-position: outside;
        list-style-type: disc;
    }

    ul {
        list-style-type: circle;
    }
}


nav {
    /** Navigation menu lists are flat */
    ul, ol {
        margin: 0;
        @extend .no-bullet;
    }
    /** Navigation links are not underlined */
    a {
        text-decoration: none;
    }
}


/** Turn buttons into buttons */
[type='submit'],
[type='button'] {
    @extend .button;
}


header.page,
.single-post .entry-title {
    text-align: center;
}

header {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

dl, p, ol, ul, table {
    &:last-child {
        margin-bottom: 0;
    }
}

table {
    border-collapse: collapse;
    @include lights-off {
        tfoot {
            background: #666;
            color: $white;
        }
    }
}

.content {
    + .content {
        margin-top: map-get($vertical-space, small);
    }
}

.message {
    text-align: center;
}

/** Loading spinner as background of lazy loaded images */
img[data-src], img[data-srcset] {
    background: url(../images/oval-black.svg) no-repeat center center;
    @include lights-off {
        background: url(../images/oval-white.svg) no-repeat center center;
    }
}
