
svg.icon {
    width: 1em;
    height: 1em;

    // https://css-tricks.com/cascading-svg-fill-color/
    fill: currentColor;

    transition: fill $transition-duration ease;

    // Default margin when used together with other elements.
    &:only-of-type:not(:last-child) {
        margin-right: 0.5em;
    }
    &:only-of-type:not(:first-child) {
        margin-left: 0.5em;
    }
}
