// WordPress Generated Classes
// https://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    height: auto;
}
.aligncenter {
    display: block;
    margin: (map-get($vertical-space, small) * 0.5) auto;
    height: auto;
}
.alignleft,
.alignright {
    margin-bottom: (map-get($vertical-space, small) * 0.5);
    height: auto;
}
@include breakpoint(medium) {
    // Only float if not on an extra small device
    .alignleft {
        float: left;
        margin-right: (map-get($vertical-space, small) * 0.5);
    }
    .alignright {
        float: right;
        margin-left: (map-get($vertical-space, small) * 0.5);
    }
}

// Captions
.wp-caption {
    //@extend .figure-img;
    //@extend .img-fluid;
}
.wp-caption-text {
    //@extend .figure-caption;
}

// Text meant only for screen readers
.screen-reader-text {
    @extend .show-for-sr;
}
