/* TinyMCE styles */

@import "foundation-sites/scss/foundation.scss";
@import "base/_variables";
@import "includes/_foundation";
@import "includes/_fonts";

body#tinymce {
    margin: 12px !important;
    font-family: $body-font-family;
}

